body
{
	margin: 0;
	overflow: hidden;
}

.pattern {
	height: 100vh;
	width: 100vw;
	transform-style: preserve-3d;
	position:absolute;
	perspective: 100px;
	rotate: 0.1rad;
}

#topPattern {
	background: url('imageUp.gif');
	transform: rotateX(100deg);
}

#bottomPattern
{
	background: url('imageDown.gif');
	transform: rotateX(80deg);
}

#fadeOut{
	background-color: black;
	width:100vw;
	height:100vh;
	position: absolute;
	opacity: 1;
	animation-name: fade-out;
	animation-duration: 0.5s;
}

@keyframes fade-out {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#foe
{
	transform: translateY(0px) translateX(0px);
	left: 50%;
	top: 50%;
	width: 104px;
	height: 193px;
	margin-left: -52px;
	margin-top: -96.5px;
}

#tenant{
	transform: translateY(0px) translateX(0px);
	left: 50%;
	top: 85%;
	width: 197px;
	height: 407px;
	margin-left: -98.5px;
	margin-top: -203.5px;
}

#advocate {
	transform: translateY(0px) translateX(0px);
	width: 110px;
	height: 154px;
	left: 60%;
	top: 93%;
	margin-left: -55px;
	margin-top: -77px;
}

#cntCommand
{
	height: 0;
	position: absolute;
	left: 50%;
	top: 95%;
	margin-left: calc(-50px * 2);
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}

#cntCommand > img {
	position: relative;
	
}

.images {
	position: absolute;
	transform: translateY(0px) translateX(0px);
}