#lblTitle {
	font-weight: bold;
	font-size: 30px;
}

[id*="tmpLabel"] {
	margin-top: 10px;
	margin-bottom: 10px;
}

#lblCountdown {
	bottom: -300px;
	font-size: 50px;
	font-weight: bold;
}

#cntParameter {
	border-color: transparent;
	background-color: transparent;
}

[id*="cntButtons"] {
	width: 600px;
	background-color: transparent;
	margin-top: 1%;
	border: 0;
	position: absolute;
	left: 0;
	right: 0;
}

#cntLogin, #cntPrompt {
	width: 600px;
	height: 100px;
	position: relative;
	left: 0;
	right: 0;
	margin-top: 50vh;
}

#lblDeath {
	color: white;
	margin-top: 25%;
}

#cntPrompt {
	height: 125px;
}

#cntLogin > #imgAdvocateLogin, #cntPrompt > #imgAdvocateLogout {
	transform: translate(3vh, -288px);
	animation-name: pop-in_screen;
	animation-duration: 0.5s;
}

#cntTextbox > #imgAdvocate {
	transform: translate(0vh, -245px);
	right: 0;
	z-index: -1;
}

#cntTextbox > #imgTenant {
	transform: translate(40vw, -330px);
	z-index: -1;
}

[id*="cntCommand"] {
	/*! border: 0; */
	/*! background-color: transparent; */
	/*! width: 60%; */
	/*! bottom: -850px; */
}

#cntStatus {
	width: 800px;
	text-align: center;
}

#cntStatus:last-child {
	margin-right: 0;
}

#cntStatus > *{
	display: inline;
	margin-right: 20px;
}

#cntTextbox {
	border-radius: 0 0 0 0;
	width: 1000px;
	height: 200px;
	margin: 75vh auto 0 auto;
	z-index: 5;
}

#lblText {
	text-align: left;
	margin: 20px;
	margin-right: 150px;
}

#imgArrow {
	margin: 20px;
	right: 0;
	bottom: 0;
}

#cntSquare > #imgTenant {
	left: 0;
	right: 0;
	transform: translate(0px, 510px);
}

#imgAdvocate {

}