@keyframes fade-out {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes pop-in_screen {
    0% {
        transform: translate(3vh, -1000px);
    }

    100% {
        transform: translate(3vh, -288px);
    }
}

@keyframes title-fade {
    0% {
        transform: scaleX(1) scaleY(1);
        backdrop-filter: blur(5px);
    }

    30% {
        opacity: 100%;
    }

    100% {
        transform: scaleX(2) scaleY(2);
        opacity: 0%;
        backdrop-filter: blur(0px);
    } 
}

@keyframes flash {
    0% {
        background-image: url("img/gif/flash.gif");
    }
}