#cntWorldBackground {
    width: 200vw;
    height: 200vh;
    background-image: url('img/bg/world/playground/bg.png');
    position: absolute;
}

#cntWorldBase {
    top: 25vh;
    z-index:1;
}

#cntWorldBaseCollision {
    top: 25vh;
}

.tile {
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    grid-template-columns: 64px 64px 64px;
}

#cntWorldImgProtector {
    position: absolute;
    top: 0;
    width: 200vw;
    height: 200vh;
}

#imgWorldTenant {
    position: absolute;
    transform: translateX(0px) translateY(0px);
    transition: none;
    user-select: none;
}