#cntWorldBackground {
    width: 200vw;
    height: 200vh;
    background-image: url('img/bg/world/playground/bg.png');
    position: absolute;
}

#cntBase {
    z-index: 1;
}

#cntEvents {
    z-index: 2;
}

#cntCollision, #cntEvents {
    visibility: visible;
}

.tile {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 64px 64px 64px;
    position:absolute;
    top: 50vh;
    left: 50vw;
}

#cntWorldImgProtector {
    position: absolute;
    top: 0;
    width: 200vw;
    height: 200vh;
}

#imgWorldTenant {
    position: absolute;
    transform: translateX(0px) translateY(0px);
    transition: none;
    user-select: none;
    top: 50vh;
    left: 50vw;
}